.git
.github
.agents
.claude
.cursor
.vscode
.idea
node_modules
vendor
public/build
public/hot
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
storage/pail
bootstrap/ssr
bootstrap/cache/*.php
database/database.sqlite
.env
.env.backup
.env.production
npm-debug.log
yarn-error.log
*.md
tests
.phpunit.cache
.phpunit.result.cache
